body {
    margin: 0;
    background: rgb(146, 146, 146);
    font-family: Arial, sans-serif; 
    color: rgb(0, 0, 0);
}

header {
    text-align: right;
}
header button {
    width: auto;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin-bottom: 10px;
}

input,
button,
select {
   padding: 10px;
   width: -webkit-fill-available;
}
input[type="radio"] {
    width: auto;
    border: 1px solid rgb(0, 0, 0);
    
}
label{
    color: rgb(0, 0, 0);
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.loading label {
    font-size: 24px;
}

button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}

button.fab {
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
button.fab.fixed {
    position: fixed;
}
button.fab.bottom {
    bottom: 32px;
}
button.fab.right {
    right: 32px;
}

.clear {
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.solid {
    background: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
}
.outline {
    background: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.outline.danger {
    color: red;
    border-color: red;
}

.error {
    background: rgb(148, 44, 44);
    color: white;
    display: none;
}